<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicios foods!</h1>
    @{
        string[] foods = new string[] {
            "Pizza", "Spaguetti", "Tacos", "Mac and Cheese"
        };
    }
    <ul>
        @foreach (string food in foods)
        {
            <li>@food</li>
        }
    </ul>
</body>
</html>